<section id="main" class="row no-gutters {{#shortname}}{{shortname}}{{/shortname}}">
{{{nav}}}
<div class="col-12 col-md-9 col-xl-10 p-3 order-0 order-md-12">
    {{#pagetitle}}
            <h3 class="mb-0">{{.}}</h3>
    {{/pagetitle}}
    {{#heading}}
            <h5 class="text-secondary ml-2">{{{.}}}</h5>
    {{/heading}}
{{#has_session_messages}}
    {{#session_messages}}
        {{>common/message}}
    {{/session_messages}}
{{/has_session_messages}}