$fa-font-path: surl("/fonts");
$fa-css-prefix: "fa";

$enable-shadows:            true !default;
$enable-gradients:          true !default;
$grid-gutter-width-base:    0;

@import 'bootstrap4/bootstrap';
@import 'bootstrap4/bootstrap-grid';
//@import 'bootstrap4/bootstrap-reboot';
@import 'font-awesome-6.1.1/fontawesome';
@import 'font-awesome-6.1.1/brands';
@import 'font-awesome-6.1.1/regular';
@import 'font-awesome-6.1.1/solid';
@import 'font-awesome-6.1.1/v4-shims';
@import 'admin/admin';
@import 'singularity/form';
@import 'singularity/file';
@import 'singularity/responsive';
@import 'singularity/blocks';
@import 'singularity/bootstrap_type';
@import 'singularity/christmas';
@import 'singularity/gallery';


#global-wrapper {
  min-height: 100vh;
}

section#main {
  flex: 1 1 auto;
}

.btn {
  cursor: pointer;
}

div.langmenu {

}

div.langmenu a {
  margin: 0 5px;
}

div.langmenu a:hover {
  text-decoration: none;
}

div.langmenu img {
  box-shadow: 0 0 1px 1px #ddd;
  width: 20px;
  height: 15px;
}

#cookieconsent {
  background-color: rgba(0, 0, 0, 0.8);
  p {
    margin-bottom: 0;

  }
}