<div class="list-group">
    {{#children}}

        {{#haschildren}}
            <a href="#submenu{{{id}}}" data-toggle="collapse"  class="list-group-item list-group-item-action py-1 pl-3 list-group-item-info" title="{{{title}}}">{{{title}}} {{#fas}}angle-right, fw{{/fas}}</a>
            <div class="collapse pl-3" id="submenu{{{id}}}">
                {{> blocks/nav_block_menu}}
            </div>

        {{/haschildren}}
        {{^haschildren}}
            <a href="{{{url}}}" class="list-group-item list-group-item-action py-1 pl-3 list-group-item-info {{#active}}active{{/active}}" title="{{{title}}}">{{{title}}} {{#fas}}angle-right, fw{{/fas}}</a>
        {{/haschildren}}
    {{/children}}
</div>