<div class="news_block">
    <div class="news-items">
        {{#news}}
            <div class="news-item">
                <h4 class="mb-0">{{title}}</h4>
                <small>{{#strftime}}%d.%m.%Y,{{{timestamp}}}{{/strftime}}</small>
                <div class="news-summary row">
                    <div class="col-2">
                        <img src="{{{image}}}" class="img-thumbnail news-thumbnail w-100" alt="{{{imagealt}}}"/>
                    </div>
                    <div class="col-10">
                        {{{summary}}}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <a href="{{#surl}}/news/{{{seourl}}}/{{{id}}}{{/surl}}" title="{{#str}}viewmore{{/str}}">{{#str}}viewmore{{/str}}</a>
                    </div>
                </div>
            </div>
        {{/news}}
        <div class="row">
            {{#pageprev}}
                <a href="{{.}}" class="btn btn-link mr-auto">{{#fas}}arrow-left,fw{{/fas}} {{#str}}newer{{/str}}</a>
            {{/pageprev}}
            {{#pagenext}}
                <a href="{{.}}" class="btn btn-link ml-auto">{{#str}}older{{/str}} {{#fas}}arrow-right,fw{{/fas}}</a>
            {{/pagenext}}
        </div>
    </div>
</div>