
<div class="modal fade " tabindex="-1" role="dialog" aria-hidden="true" id="site-page-editor-attributes-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{#str}}editattributes,admin{{/str}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        {{#fas}}mobile-alt,3x{{/fas}}
                                        <div><small>&ge; 0px</small></div>
                                    </td>
                                    <td>
                                        {{#fas}}tablet-alt,3x{{/fas}}
                                        <div><small>&ge; 576px</small></div>
                                    </td>
                                    <td>
                                        {{#fas}}laptop,3x{{/fas}}
                                        <div><small>&ge; 768px</small></div>
                                    </td>
                                    <td>
                                        {{#fas}}desktop,3x{{/fas}}
                                        <div><small>&ge; 992px</small></div>
                                    </td>
                                    <td>
                                        {{#fas}}tv,3x{{/fas}}
                                        <div><small>&ge; 1200px</small></div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                {{#attributes}}
                                    <tr>
                                        <th class="p-1 small">{{name}}</th>
                                        {{#items}}
                                            <td>
                                                <select>
                                                    <option value="">-</option>
                                                    {{#.}}
                                                        <option value="{{.}}">{{.}}</option>
                                                    {{/.}}
                                                </select>
                                            </td>
                                        {{/items}}
                                    </tr>
                                {{/attributes}}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <div class="text-danger mr-auto newblock-error"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}}close{{/str}}</button>
                <button type="button" class="btn btn-primary" id="insert-block-to-page-btn">{{#str}}apply{{/str}}</button>
            </div>
        </div>
    </div>
</div>