

<div class="modal fade " tabindex="-1" role="dialog" aria-hidden="true" id="site-page-editor-form-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{#str}}sitepageeditor,admin{{/str}} - {{title}} ({{lang}})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{{form}}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}}close{{/str}}</button>
            </div>
        </div>
    </div>
</div>
