
<div class="modal fade " tabindex="-1" role="dialog" aria-hidden="true" id="site-page-editor-insert-block-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{#str}}insertblock,admin{{/str}} - ({{lang}})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label for="blocktype">{{#str}}blocktype,admin{{/str}}</label>
                    </div>
                    <div class="col">
                        <select id="blocktype" class="form-control w-100">
                            <option value="-1" selected="selected">{{#str}}pleasechoose{{/str}}</option>
                            {{#blocktypes}}
                                <option value="{{{type}}}">{{{name}}}</option>
                            {{/blocktypes}}
                        </select>
                    </div>
                </div>
                <div class="row " id="blockid-holder">
                    <div class="col">
                        <label for="blockid">{{#str}}choosefromlist,admin{{/str}}</label>
                    </div>
                    <div class="col">
                        <select id="blockid" class="form-control">
                            <option value="-1" selected="selected">{{#str}}pleasechoose{{/str}}</option>
                        </select>
                    </div>
                </div>
                <div class="row " id="newblockid-holder">
                    <div class="col">
                        <label for="newblockid">{{#str}}newname,admin{{/str}}</label>
                    </div>
                    <div class="col">
                        <input type="text" id="newblockid" class="form-control w-100" />
                    </div>
                </div>
                <div id="blockcontent-holder" class="row border border-secondary rounded p-1 mx-3 mt-2">
                    <div id="blockcontent" style="overflow: auto; height: 15rem;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-danger mr-auto newblock-error"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}}close{{/str}}</button>
                <button type="button" class="btn btn-primary" id="insert-block-to-page-btn">{{#str}}insert{{/str}}</button>
            </div>
        </div>
    </div>
</div>