<div id="gallery_{{shortname}}" class="carousel slide carousel-fade gallery-click_carousel w-100 bg-dark" data-ride="carousel" style="/*height: 50vh;*/ min-height: 20rem;">
    <ol class="carousel-indicators align-items-end">
        {{#items}}
            <li data-target="#gallery_{{shortname}}" data-slide-to="{{i}}" data-slide-id="#{{shortname}}_{{i}}" class="{{#first}}active{{/first}} text-white d-flex flex-column" style="width: auto !important; max-width: 35%">
                <div class="description px-2 mt-auto text-center">{{{description}}}</div>
                <div class="h6 h5-md h4-lg px-2 my-auto mb-2 title text-center">{{title}}</div>
            </li>
        {{/items}}
    </ol>
    <div class="carousel-inner h-100">
        {{#items}}
            <div class="carousel-item h-100 {{#first}}active{{/first}}">
                <img src="{{imageurl}}" class="d-flex w-100 mx-auto my-auto align-self-center no-shadow no-resp" alt="{{title}}">
            </div>
        {{/items}}
    </div>
</div>
{{#js}}
    require(['jquery'], function($) {
        $(document).ready(function() {
            var $gallery = $('#gallery_{{shortname}}');
            if (window.location.hash) {
                var $lifound = $('li[data-slide-id="' +decodeURIComponent(window.location.hash) + '"]');
                if ($lifound.length > 0) {
                    $lifound.click();
                }
            }

            $gallery.find('.carousel-indicators li .description a').click(function(e) {
                e.stopPropagation();
            });

            $(window).on('hashchange', function(e) {
                var $found = $('li[data-slide-id="' +decodeURIComponent(window.location.hash) + '"]');
                if ($found.length > 0) {
                    $found.click();
                }
            });
        });
    });
{{/js}}
