<div id="gallery_{{shortname}}" class="carousel slide w-100 bg-dark py-3 mb-4" data-ride="carousel" style="height: 50vh; min-height: 20rem;">
    <ol class="carousel-indicators">
        {{#items}}
            <li data-target="#gallery_{{shortname}}" data-slide-to="{{i}}" class="{{#first}}active{{/first}} bg-transparent" style="width: auto !important">
                <img src="{{imageurl}}" class="d-block no-shadow no-resp" style="width: auto; height: 3rem;" alt="{{title}}">
            </li>
        {{/items}}
    </ol>
    <div class="carousel-inner h-100">
        {{#items}}
            <div class="carousel-item h-100 pt-3 {{#first}}active{{/first}}">
                {{#link}}
                    <a href="{{.}}">
                {{/link}}
                <img src="{{imageurl}}" class="d-flex mh-100 mx-auto my-auto align-self-center no-shadow no-resp" alt="{{title}}">
                {{#link}}
                    </a>
                {{/link}}
                <div class="carousel-caption d-none d-md-block p-2" style="background-color: rgba(0,0,0, 0.2); left: 0; right: 0;">
                    <h5 class="mb-0">{{title}}</h5>
                    {{{description}}}
                </div>
            </div>
        {{/items}}
    </div>
    <a class="carousel-control-prev" href="#gallery_{{shortname}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#gallery_{{shortname}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>