{{{form}}}


{{#js}}
    require(['form/form_condition'], function(FormCondition) {
        var conditions = [];
        {{#conditions}}
            conditions.push(new FormCondition({{{data}}}));
        {{/conditions}}
    });
{{/js}}