
@import 'site-page-editor';

body.pagelayout-admin :not(.path-admin-site_page_editor) {

  #global-wrapper {
    min-height: 100vh;
  }
}

body.pagelayout-admin {
  header {
    height: 2rem;
    .navbar-brand img {
      position: relative;
      z-index: 100000;
    }
    nav.navbar {
      height: 2rem;
    }
  }
}
body.path-admin,
body.pagelayout-admin  {

  /*.admin-table-viewer,
  .admin-table-editor {
    td:not(.text-nowrap),
    th:not(.text-nowrap) {
      max-width: 10rem;
      text-overflow: ellipsis;
    }
  }*/

  .contextmenu {
    position: fixed;
    min-width: 3rem;
    min-height: 3rem;
    display: none;
    z-index: $zindex-modal;
    background-color: #fff;
    @include box-shadow($dropdown-box-shadow);
    &.contextmenu-opened {
      display: block;
    }
    &.contextmenu-row {

    }
    &.contextmenu-col {
    }
    &-backdrop {
      z-index: $zindex-modal-backdrop;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
      &.contextmenu-opened {
        display: block;
      }
    }
  }
}
