$site-page-editor-menu-width: 14rem;

$container-max-widths-spe: (
        sm: calc(#{map-get($container-max-widths, sm)} + #{$site-page-editor-menu-width}),
        md: calc(#{map-get($container-max-widths, md)} + #{$site-page-editor-menu-width}),
        lg: calc(#{map-get($container-max-widths, lg)} + #{$site-page-editor-menu-width}),
        xl: calc(#{map-get($container-max-widths, xl)} + #{$site-page-editor-menu-width})
) !default;

body.path-admin-site_page_editor {
  #site-page-editor-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $site-page-editor-menu-width;
    display: block !important;
  }

  #global-wrapper {
    padding-left: $site-page-editor-menu-width;

    //@include make-container-max-widths($container-max-widths-spe);
  }
  #site-page-editor-insert-block-modal {
    #blockid {
      max-width: 15rem;
    }
  }
  #site-page-editor-content {
    padding-bottom: 10rem;
    &.preview {

      padding: 1rem 1rem 10rem 1rem;

      border: 2px dashed $pink;
      .spe {
        &.col-1,
        &.col-2,
        &.col-3,
        &.col-4,
        &.col-5,
        &.col-6,
        &.col-7,
        &.col-8,
        &.col-9,
        &.col-10,
        &.col-11,
        &.col-12,
        &.col,
        &.row {
          padding: 1rem;
          border: 2px dashed $gray-600;
          @include box-shadow($dropdown-box-shadow);
        }

        &.col-1,
        &.col-2,
        &.col-3,
        &.col-4,
        &.col-5,
        &.col-6,
        &.col-7,
        &.col-8,
        &.col-9,
        &.col-10,
        &.col-11,
        &.col-12,
        &.col {
          border-color: $cyan
        }
        .spe-blocktype {
          display: block;
        }
      }
    }

    .ace_editor {
      min-height: 40rem;
    }

  }






}