{{#jsdismissable}}
    <div class="alert alert-{{{messagetype}}} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{{messagetext}}}
    </div>

    {{#js}}
        require(['jquery', 'bootstrap'], function() {
        });
    {{/js}}
{{/jsdismissable}}
{{^jsdismissable}}
    <div class="alert alert-{{{messagetype}}} col show">
        {{{messagetext}}}
    </div>
{{/jsdismissable}}