{{^ingroup}}
    {{>form/field_top}}
{{/ingroup}}

{{#ingroup}}<div>{{/ingroup}}
    <input type="checkbox" name="{{{name}}}" id="{{{id}}}" value="{{value}}" {{#checked}}checked="checked"{{/checked}}/> {{#label_after}}<label for="{{{id}}}">{{label_after}}</label>{{/label_after}}

{{#ingroup}}</div>{{/ingroup}}
{{^ingroup}}
    {{>form/field_bottom}}
{{/ingroup}}