
{{>form/field_top}}
<pre style="min-height: 35rem;" id="{{id}}_ace">
</pre>
<input type="hidden" name="{{name}}" id="{{id}}" value="{{value}}" />

{{>form/field_bottom}}

{{#js}}
    require(['jquery', 'beautify', 'beautify-css', 'beautify-html', 'ace/ace'], function($, js_beautify, css_beautify, html_beautify) {
        $(document).ready(function() {
            var $hidden = $("#{{id}}");
            var $pre = $('#{{id}}_ace');

            var html = $hidden.val();

            if ("{{language}}" === "html") {
                html = html.replace(/draggable="false"/g, '');
                html = html_beautify.html_beautify(html, {
                    "indent_size": "4",
                    "indent_char": " ",
                    "max_preserve_newlines": "-1",
                    "preserve_newlines": false,
                    "keep_array_indentation": false,
                    "break_chained_methods": false,
                    "indent_scripts": "normal",
                    "brace_style": "collapse",
                    "space_before_conditional": true,
                    "unescape_strings": false,
                    "jslint_happy": false,
                    "end_with_newline": false,
                    "wrap_line_length": "120",
                    "indent_inner_html": false,
                    "comma_first": false,
                    "e4x": false,
                    "indent_empty_lines": false
                });
                $hidden.val(html);
            }
            $pre.text(html);

            var editor = ace.edit("{{id}}_ace");
            editor.setTheme("ace/theme/chrome");
            editor.session.setMode("ace/mode/{{language}}");
            editor.getSession().on("change", function() {
                $hidden.val(editor.getValue());
            });
            $hidden.on("change", function() {
                editor.setValue($(this).val());
            });
        });
    });
{{/js}}