{{>form/field_top}}
{{#showdate}}
    <select name="{{{name}}}_day" class="form-control d-inline-block">
        {{#days}}
                <option value="{{{.}}}" {{#if}}==, {{day}}, {{.}}, selected{{/if}}>{{.}}</option>
        {{/days}}
    </select>
    <select name="{{{name}}}_month" class="form-control d-inline-block">
        {{#months}}
                <option value="{{{v}}}" {{#if}}==, {{month}}, {{v}}, selected{{/if}}>{{{t}}}</option>
        {{/months}}
    </select>
    <select name="{{{name}}}_year" class="form-control d-inline-block">
        {{#years}}
                <option value="{{{.}}}" {{#if}}==, {{year}}, {{.}}, selected{{/if}}>{{.}}</option>
        {{/years}}
    </select>
{{/showdate}}
{{#showtime}}
    <select name="{{{name}}}_hour" class="form-control d-inline-block {{#showdate}}ml-3{{/showdate}}">
        {{#hours}}
            <option value="{{{.}}}" {{#if}}==, {{hour}}, {{.}}, selected{{/if}}>{{.}}</option>
        {{/hours}}
    </select>
    <select name="{{{name}}}_minute" class="form-control d-inline-block">
        {{#minutes}}
            <option value="{{{.}}}" {{#if}}==, {{minute}}, {{.}}, selected{{/if}}>{{.}}</option>
        {{/minutes}}
    </select>
{{/showtime}}

{{>form/field_bottom}}