{{>form/field_top}}

<select {{#multiple}}multiple{{/multiple}} class="form-control" name="{{name}}{{#multiple}}[]{{/multiple}}" id="{{id}}">
    {{#options}}
        <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{label}}</option>
    {{/options}}
</select>

{{>form/field_bottom}}