{{>form/field_top}}
{{^viewonly}}
    <input type="hidden" id="{{{name}}}" name="{{{name}}}" value="{{value}}"/>
{{/viewonly}}
{{#hasthumbnail}}<img id="image{{{name}}}" src="{{fileurl}}" class="img-thumbnail form-image"/>{{/hasthumbnail}}
<label id="label{{{name}}}">{{filename}}</label>
{{^viewonly}}
    <button class="btn btn-link" id="btn-open-{{{name}}}">{{#str}}choose{{/str}}</button>
    <button class="btn btn-link" id="btn-clear-{{{name}}}">{{#str}}clear{{/str}}</button>
{{/viewonly}}

{{>form/field_bottom}}
{{^viewonly}}
    {{#js}}
        require(['form/file'], function(FileField) {
            var ff = new FileField('{{name}}', '{{parent}}');
        });
    {{/js}}
{{/viewonly}}