{{>form/field_top}}

<textarea name="{{name}}" class="form-control" id="{{id}}">{{{value}}}</textarea>

{{>form/field_bottom}}
{{#js}}
require(['jquery', 'ckeditor'], function($) {
    $(document).ready(function() {
        $("#{{id}}").ckeditor();
    });
});
{{/js}}