{{^ingroup}}
    {{>form/field_top}}
{{/ingroup}}

{{#ingroup}}<div>{{/ingroup}}
<input type="radio" name="{{{name}}}" id="{{{id}}}" value="{{value}}" /> {{#label_after}}<label for="{{{id}}}">{{{label_after}}}</label>{{/label_after}}

{{#ingroup}}</div>{{/ingroup}}
{{^ingroup}}
    {{>form/field_bottom}}
{{/ingroup}}