{{>form/field_top}}

{{#cancel_label}}
    <input type="submit" class="btn btn-link" name="{{{cancel_name}}}" id="{{{cancel_name}}}" value="{{cancel_label}}" />
{{/cancel_label}}

{{#apply_label}}
    <input type="submit" class="btn btn-link" name="{{{apply_name}}}" id="{{{apply_name}}}" value="{{apply_label}}" />
{{/apply_label}}

<input type="submit" class="btn btn-success" name="{{{submit_name}}}" id="{{{submit_name}}}" value="{{submit_label}}" />

{{>form/field_bottom}}