<table class="table table-hover table-sm admin-table-viewer">
    <thead>
    <tr>
        {{#head}}
            <th>{{.}}</th>
        {{/head}}
    </tr>
    </thead>
    <tbody>
        {{#body}}
            <tr>
                {{#.}}
                    <td title="{{{.}}}">{{{.}}}</td>
                {{/.}}
            </tr>
        {{/body}}
    </tbody>
</table>
<nav aria-label="paginaton">
    <ul class="pagination justify-content-center flex-wrap">
        {{#pages}}
            <li class="page-item {{#active}}active{{/active}}"><a class="page-link" href="{{{pageurl}}}">{{page}}</a></li>
        {{/pages}}
    </ul>
</nav>