<div class="admin-table-editor d-flex flex-column">

    {{#show_checkboxes}}
        <form method="post" enctype="multipart/form-data" class="tableeditor-form">
    {{/show_checkboxes}}
    {{> admin/common/table_editor_navigation}}
    <div class="table-responsive">
        <table class="table table-hover table-sm admin-table-editor thead-light table-striped mb-1">
            <thead>
                <tr>
                {{#show_checkboxes}}
                    <td></td>
                {{/show_checkboxes}}
                {{#head}}
                    <th>{{.}}</th>
                {{/head}}
                    <th class="text-nowrap">{{#str}}actions,admin{{/str}}</th>
                </tr>
            </thead>
            <tbody>
            {{#body}}
                <tr>
                    {{#show_checkboxes}}
                        <td><input type="checkbox" name="tableeditor_checkbox[]" value="{{checkboxvalue}}"/></td>
                    {{/show_checkboxes}}
                    {{#values}}
                        <td title="{{#striptags}}{{{.}}}{{/striptags}}">{{{.}}}</td>
                    {{/values}}
                    <td class="text-nowrap">
                        {{#show_editbutton}}
                            <a class="btn btn-info btn-sm" href="{{{editurl}}}">{{#fas}}edit,fw{{/fas}} {{title_editbutton}}</a>
                        {{/show_editbutton}}


                        {{#title_customaction}}
                            <a class="btn btn-outline-info btn-sm" href="{{{customurl}}}" {{#target_customaction}}target="{{.}}"{{/target_customaction}}>{{.}}</a>
                        {{/title_customaction}}
                        {{#title_customaction2}}
                            <a class="btn btn-outline-info btn-sm" href="{{{customurl2}}}" {{#target_customaction2}}target="{{.}}"{{/target_customaction2}}>{{.}}</a>
                        {{/title_customaction2}}
                        {{#title_customaction3}}
                            <a class="btn btn-outline-info btn-sm" href="{{{customurl3}}}" {{#target_customaction3}}target="{{.}}"{{/target_customaction3}}>{{.}}</a>
                        {{/title_customaction3}}

                        {{#actions}}
                            <a class="btn btn-outline-info btn-sm" href="{{actionurl}}" {{#target}}target="{{.}}"{{/target}}>{{title}}</a>
                        {{/actions}}


                        {{#showmovebuttons}}
                            {{^first}}
                                <a class="btn btn-outline-info btn-sm" href="{{{moveupurl}}}" title="{{#str}}moveup, admin{{/str}}"><strong>{{#fas}}angle-up{{/fas}}</strong></a>
                            {{/first}}
                            {{#first}}
                                <span class="mx-3"></span>
                            {{/first}}
                            {{^last}}
                                <a class="btn btn-outline-info btn-sm" href="{{{movedownurl}}}" title="{{#str}}movedown, admin{{/str}}"><strong>{{#fas}}angle-down{{/fas}}</strong></a>
                            {{/last}}
                            {{#last}}
                                <span class="mx-3"></span>
                            {{/last}}
                        {{/showmovebuttons}}
                        {{#show_deletebutton}}
                            {{#deleteurl}}
                                <a class="btn btn-danger btn-sm delete-button" data-href="{{{deleteurl}}}" href="#" data-toggle="modal" data-target="#deletequestionmodal">{{#fas}}times,fw{{/fas}}  {{title_deletebutton}}</a>
                            {{/deleteurl}}
                        {{/show_deletebutton}}
                    </td>
                </tr>
            {{/body}}
            </tbody>

        </table>
    </div>
    {{> admin/common/table_editor_navigation}}

    {{#showpages}}

        <div class="btn-group flex-wrap justify-content-center">
            {{#pages}}
                {{^current}}
                    <a href="{{url}}" class="btn btn-outline-info btn-sm">{{number}}</a>
                {{/current}}
                {{#current}}
                    <a href="{{url}}" class="btn btn-info btn-sm" disabled>{{number}}</a>
                {{/current}}
            {{/pages}}
        </div>
    {{/showpages}}

    {{#show_checkboxes}}
        </form>
    {{/show_checkboxes}}
</div>
<div class="modal fade" id="deletequestionmodal" tabindex="-1" role="dialog" aria-labelledby="deletequestionmodal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{#str}}deleteareyousure,admin{{/str}}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-dismiss="modal">{{#str}}cancel{{/str}}</a>
                <a href="#" class="btn btn-danger btn-sm confirm-delete-button" data-href="">{{#str}}delete{{/str}}</a>
            </div>
        </div>
    </div>
</div>
{{#has_confirm}}
    <div class="modal fade" id="confirmmodal" tabindex="-1" role="dialog" aria-labelledby="confirmmodal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {{#str}}areyousureyouwanttocontinue,admin{{/str}}
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">{{#str}}cancel{{/str}}</a>
                    <a href="#" class="btn btn-warning btn-sm confirm-button" data-href="">{{#str}}continue{{/str}}</a>
                </div>
            </div>
        </div>
    </div>
{{/has_confirm}}
{{#js}}
require(['admin/table_editor'], function(TableEditor) {
    var te = new TableEditor();
});
{{/js}}