<div class="row justify-content-end mx-0">

    {{#show_checkboxes}}
        <a class="btn btn-link btn-sm checkbox-selectall p-0" href="#">{{#str}}selectall{{/str}}</a> /
        <a class="btn btn-link btn-sm checkbox-selectnone p-0 mr-auto" href="#">{{#str}}selectnone{{/str}}</a>
    {{/show_checkboxes}}
    {{#show_backbutton}}
        <a class="btn btn-outline-info btn-sm mr-3" href="{{backurl}}">{{#fas}}chevron-left,fw{{/fas}} {{{title_backbutton}}}</a>
    {{/show_backbutton}}
    {{#globalactions}}
        {{#show_checkboxes}}
            <input type="submit" name="globalaction_{{name}}" class="btn btn-outline-info btn-sm mr-3" value="{{title}}" {{#confirm}}data-confirm="confirm"{{/confirm}}/>
        {{/show_checkboxes}}
        {{^show_checkboxes}}
            <a class="btn btn-outline-info btn-sm mr-3" href="{{actionurl}}" {{#confirm}}data-confirm="confirm"{{/confirm}}>{{{title}}}</a>
        {{/show_checkboxes}}

    {{/globalactions}}

    {{#show_insertbutton}}
        <a class="btn btn-info btn-sm" href="{{inserturl}}">{{#fas}}plus,fw{{/fas}} {{{title_insertbutton}}}</a>
    {{/show_insertbutton}}
</div>