<nav class="navbar navbar-dark col-12 col-md-3 col-xl-2 menu {{navtype}} bg-dark align-items-start order-12 order-md-0">
    <ul class="nav navbar-nav flex-column">
        {{> admin/page/nav_item}}
    </ul>
</nav>