{{#haschildren}}
    <li class="nav-item text-white font-weight-bold">{{title}}</li>
    {{#children}}
        {{> admin/page/nav_item}}
    {{/children}}
{{/haschildren}}
{{^haschildren}}

    <li class="nav-item">
        <a href="{{url}}" class="px-3 menu-item nav-link {{#active}}font-weight-bold{{/active}}">{{{title}}}</a>
    </li>
{{/haschildren}}