<div id="html-block-{{id}}" class="spe-html_block" data-id="{{id}}" data-blockid="{{blockid}}"  data-toggle="tooltip" data-placement="left" title="HTML block '{{{blockid}}},{{{lang}}}'">
    {{#hascss}}
        <style><!--
            {{{css}}}
        -->
        </style>
    {{/hascss}}
    <div class="html-block block-content {{blockid}}" title="{{#str}}editthisblock,admin{{/str}}">
        {{{content}}}
    </div>
</div>
{{#js}}

    $('#html-block-{{id}}').tooltip();

{{/js}}
