body.christmas {

  .snowflake {
    font-size: 1rem;
    color: #D5E2FF;
    position: fixed;
    z-index: 1000000;
    top: -1rem;

    &.animated {
      transform: translateY(calc(100vh + 2rem)) rotate(1440.02deg);
      -moz-transform: translateY(calc(100vh + 2rem)) rotate(1440.02deg);
      -webkit-transform: translateY(calc(100vh + 2rem)) rotate(1440.02deg);

      transition-timing-function: ease-out;
      -moz-transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
    }
  }

  &.ie {
    .snowflake.animated {
      transform: none;
      transition-property: top;
      transition-delay: 0s;
      top: 100%;
    }
  }
}