

div.file-browser {
  max-height: 800px;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 10px;
  clear: both;
}

div.file-browser h4.file-parent {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.file-item {
  cursor: pointer;
  img.file-icon {
    max-width: 32px;
    max-height: 32px;
  }

  img.preview {
    max-width: 8rem;
    max-height: 8rem;
  }
  .file-name {
    max-height: 64px;
    display: inline-block;
    cursor: pointer;
  }
}
