form {
  img.form-image {
    max-width: 18rem;
    max-height: 18rem;
  }
}

.form-horizontal .control-label {
  padding-top: 0;
}


.form-control {
  width: auto;
}

.form-group.datetime .form-control {
  display: inline-block;
  margin: 0 5px;
}

form.horizontal .form-group {
  float: left;
  margin: 0;
}


.form-horizontal .form-group .col-sm-2,
.form-horizontal .form-group .col-sm-10 {
  width: auto;
}


.form-horizontal .form-group .col-sm-2 {
  min-width: 200px;
}

.form-horizontal .form-group .col-sm-offset-2 {
  margin-left: 0;
}

.form-horizontal .form-group .col-sm-10 label {
  margin-left: 5px;
}
