.gallery-click_carousel {
  .carousel-indicators {
    top: 0;
    justify-content: stretch;
    margin: 0;
    bottom: 0;
    li {
      background-color: rgba(0, 0, 0, 0.4);
      text-indent: 0;
      flex: 1 1 auto;
      height: 4rem;
      margin: 0;
      &:nth-child(4n+1) {
        background-color: rgba(18, 92, 182, 0.6);
      }
      &:nth-child(4n+2) {
        background-color: rgba(10, 128, 158, 0.6);
      }
      &:nth-child(4n+3) {
        background-color: rgba(228, 44, 26, 0.6);
      }
      &:nth-child(4n+4) {
        background-color: rgba(239, 189, 15, 0.8);
        //background-color: rgba(181, 43, 151, 0.6);
        /*color: #000;*/
      }
      .description {
        display: none;
      }
      &.active {
        height: auto;
        align-self: stretch !important;
        .description {
          display: block;
        }
        .title {
          margin-top: auto !important;
          margin-bottom: 1rem !important;
        }
      }
    }
  }

}