html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

.row img:not(.no-resp) {
  max-width: 100%;
  height: auto !important;
  width: auto !important;
  margin: 0.5rem;
  @include media-breakpoint-down(sm) {
    margin-left: auto;
    margin-right: auto;
  }
}


#responsivemenu {
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: $zindex-popover;
  overflow-y: auto;
  a {
    text-decoration: none;
    @include hover-focus-active {
      text-decoration: none;
    }
  }
}
body.responsivemenu-opened {
  overflow: hidden;
}

#responsivemenutoggler {
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex-tooltip + 100;
}