<div class="row d-none d-md-flex">
    <div class="col-12 pl-3">
        <ol class="breadcrumb p-1 pl-3 m-0 small bg-white">
            {{#breadcrumb}}
                <li class="breadcrumb-item">{{#url}}{{^active}}<a href="{{{url}}}" title="{{{title}}}" class="">{{/active}}{{/url}}{{{title}}}{{#url}}{{^active}}</a>{{/active}}{{/url}}</li>
            {{/breadcrumb}}
        </ol>
    </div>
</div>