<nav class="navbar menu {{navtype}}">
    {{#children}}
        <a href="{{{url}}}" {{#target}}target="{{.}}"{{/target}} class="menu-item">{{{title}}}</a>
    {{/children}}
</nav>
{{#showhamburger}}
<div  class="hamburger">
    <span class='glyphicon glyphicon-menu-hamburger '></span>
</div>
{{/showhamburger}}