<button class="btn btn-lg btn-outline-primary bg-white align-self-end m-3 d-block d-lg-none" type="button" id="responsivemenutoggler">
    {{#fas}}bars,lg{{/fas}}
</button>
<div class="w-100 bg-white d-none" id="responsivemenu" data-backdrop="false" >
    <div class="d-flex flex-column align-items-start ml-3">
        {{#children}}
            {{#haschildren}}

                <a href="#" class="text-primary py-1 px-1 text-uppercase font-weight-bold" data-toggle="collapse" data-target="#responsivemenuAccordion-{{id}}" title="{{title}}">{{#fas}}angle-down{{/fas}} {{title}}</a>
                <div class="collapse" id="responsivemenuAccordion-{{id}}" data-children=".item" data-parent="#responsivemenu">
                    {{#children}}
                        <div class="item">
                            <a class="d-block text-uppercase ml-2 pl-2 py-1 text-primary font-weight-bold menu-child-item" href="{{url}}" >{{title}}</a>
                        </div>
                    {{/children}}
                </div>
            {{/haschildren}}
            {{^haschildren}}
                <a href="{{url}}"  class="text-primary mx-0 mx-sm-2 py-1 text-uppercase" style="" title="{{title}}"><strong>{{title}}</strong></a>
            {{/haschildren}}
        {{/children}}
    </div>
</div>
{{#js}}
    require(['jquery'], function($) {
        $(document).ready(function() {
            $('#responsivemenutoggler').click(function(e) {
                e.preventDefault();
                var $menu = $('#responsivemenu');
                $menu.toggleClass('d-none');
                $('body').toggleClass('responsivemenu-opened');
            });
        });
    });
{{/js}}