<nav class="navbar navbar-light bg-light p-0 flex-col flex-md-row align-items-start">
    <span class="navbar-brand ml-3" href="#">
        <img src="{{#pix}}logo_small{{/pix}}" class="d-inline-block align-top mr-2" width="50"/>
        <strong>{{{sitename}}}</strong>
    </span>

    <div class="ml-auto mr-3 navbar-text">
        {{#isloggedin}}
            logged in as <strong class="mx-1">{{{username}}}</strong>&nbsp;
            <a href="{{{logouturl}}}" title="logout" ><i class="fa fa-close"></i></a>
        {{/isloggedin}}
        {{#isnotloggedin}}
            <a href="{{{loginurl}}}" title="login"><i class="fa fa-camera-retro"></i><strong>login</strong></a>
        {{/isnotloggedin}}
    </div>

</nav>
