{{#hasnews}}
    {{{sitepage}}}
    <div class="row {{{pagetype_class}}}">
        {{#prev}}
            <a href="{{#surl}}/news/{{{seourl}}}/{{{id}}}{{/surl}}">{{#fas}}arrow-left,fw{{/fas}} {{{title}}}</a>
        {{/prev}}
        {{#next}}
            <a href="{{#surl}}/news/{{{seourl}}}/{{{id}}}{{/surl}}" class="ml-auto">{{{title}}} {{#fas}}arrow-right,fw{{/fas}}</a>
        {{/next}}
    </div>
{{/hasnews}}
{{^hasnews}}
    <div class="row">
        <div class="col">
            <h1 class="text-center">{{#str}}news{{/str}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{#block}}{{{#custom_block}}}news_block{{{/custom_block}}}{{/block}}
        </div>
    </div>
{{/hasnews}}