{{#content}}
    {{#nav}}
        {{#showtitle}}
            {{#title}}
                <div class="row  {{{pagetype_class}}}">
                    <div class="col-12 col-md-7 col-lg-8 title-row ml-auto">

                        <h1 class="text-center">{{{title}}}</h1>

                    </div>
                </div>
            {{/title}}
        {{/showtitle}}
        <div class="row  {{{pagetype_class}}}">
            <div class="col-12 col-md-5 col-lg-4">
                {{{nav}}}
            </div>
            <div class="col-12 col-md-7 col-lg-8 title-row">
                {{{content}}}
            </div>
        </div>
    {{/nav}}
    {{^nav}}
        {{#showtitle}}
            {{#title}}
                <div class="row {{{pagetype_class}}}">
                    <div class="col-12 text-center">
                        <h1>{{{title}}}</h1>
                    </div>
                </div>
            {{/title}}
        {{/showtitle}}
        <div class="row  {{{pagetype_class}}}">
            <div class="col">
                {{{content}}}
            </div>
        </div>
    {{/nav}}
{{/content}}
{{#hascss}}
    <style><!--
        {{{css}}}
    -->
    </style>
{{/hascss}}