<div class="search-results container">
    <h1 class="text-center">{{#str}}search:result{{/str}}</h1>
    {{#empty}}
        <h3>{{#str}}search:empty{{/str}}</h3>
    {{/empty}}
    {{^empty}}
        <div class="results">
            {{#results}}
                <a href="{{#surl}}{{url}}{{/surl}}" class="d-block my-2">
                    <strong>{{id}}. {{title}}</strong><br />
                    <small>{{{trimmedcontent}}}</small>
                </a>
            {{/results}}
        </div>
    {{/empty}}
</div>