{{>admin/page/editor/staticmenu}}

{{#showtitle}}
    {{#title}}
        <div class="row">
            <div class="col">
                <h2 class="title w-100 text-center">{{{.}}}</h2>
            </div>
        </div>
    {{/title}}
{{/showtitle}}
<div class="row">
    <div class="col-12">
        <div id="site-page-editor-content" data-pageid="{{{pageid}}}" class="preview">
            {{{content}}}
        </div>
    </div>
</div>
<!--<div class="site-page-editor-controls fixed-top text-center pt-4">

</div> -->


{{#hascss}}
    <style><!--
        {{{css}}}
    -->
    </style>
{{/hascss}}


<div class=" text-dark">
{{>admin/page/editor/modals/form}}

{{>admin/page/editor/modals/insert_block}}

{{>admin/page/editor/modals/attributes}}

{{>admin/page/editor/contextmenus/col}}

{{>admin/page/editor/contextmenus/row}}

{{>admin/page/editor/contextmenus/block}}

{{>admin/page/editor/contextmenus/sp_content}}

</div>

<div class="contextmenu-backdrop"></div>
