<div id="site-page-editor-menu" class="bg-dark">
    <div class="btn-group btn-group-vertical pt-3 pl-4">

        <button class="btn btn-warning mb-5 close-editors-btn text-left" style="display: none;">{{#fas}}times,fw{{/fas}} {{#str}}closeeditors,admin{{/str}}</button>


        <button class="btn btn-light prepend-row-root-btn text-left" >{{#fas}}long-arrow-alt-down,fw{{/fas}} {{#str}}prependrow,admin{{/str}}</button>
        <button class="btn btn-light append-row-root-btn text-left" >{{#fas}}long-arrow-alt-up,fw{{/fas}} {{#str}}appendrow,admin{{/str}}</button>

        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-info btn-sm2 mt-3 text-left active">
                <input type="checkbox" autocomplete="off" class="toggle-block-preview " checked>{{#far}}eye-slash,fw{{/far}} {{#str}}toggleblocks,admin{{/str}}
            </label>
        </div>

        <button class="btn btn-secondary btn-sm2 show-form-btn mt-3 text-left" data-toggle="modal" data-target="#site-page-editor-form-modal">{{#far}}eye,fw{{/far}}  {{#str}}showform,admin{{/str}}</button>


        <button class="btn btn-light btn-sm2 cancel-form-btn text-left mt-3" >{{#fas}}ban,fw{{/fas}} {{#str}}discardchanges,admin{{/str}}</button>
        <button class="btn btn-light btn-sm2 saveandgoback-form-btn text-left" >{{#far}}save,fw{{/far}} {{#str}}saveandback,admin{{/str}}</button>
        <button class="btn btn-success save-form-btn text-left" >{{#far}}save,fw{{/far}} <strong>{{#str}}save{{/str}}</strong></button>


    </div>
</div>