<div class="file-browser {{#browseonly}}browse-only{{/browseonly}} {{#submittoform}}submit-to-form{{/submittoform}}" {{#hasckfuncnum}}data-ckfuncnum="{{ckfuncnum}}"{{/hasckfuncnum}}>
    <div class="header pl-2 bg-light border border-secondary d-flex flex-column flex-md-row">
        <span class="font-weight-bold mt-2">{{#str}}current_dir,admin{{/str}}: {{currentpath}}</span>

        <div class="btn-group-toggle ml-auto" data-toggle="buttons">
            <label class="btn btn-sm btn-light ">
                <input type="checkbox" id="previewthumbnails"/> {{#fas}}file-image,fw{{/fas}} Preview thumbnails
            </label>
        </div>
        <button type="button" class="btn btn-sm btn-link ml-3 align-self-end" data-toggle="modal" data-target="#modal-upload">
            {{#fas}}upload,fw{{/fas}} {{#str}}upload,admin{{/str}}
        </button>
        <button type="button" class="btn btn-sm btn-link ml-3 align-self-end" data-toggle="modal" data-target="#modal-newdir">
            {{#fas}}plus,fw{{/fas}} {{#str}}createnewdir,admin{{/str}}
        </button>
    </div>
    <div class="contents p-2 bg-light border border-secondary">
        {{#parent}}
            <a class="btn btn-outline-info mb-2 mr-2 border-0" href="{{{.}}}">{{#fas}}chevron-left,lg{{/fas}} {{#str}}back{{/str}}</a>
        {{/parent}}
        {{#children}}
            {{{.}}}
        {{/children}}
        {{^children}}
            <h3 class="file-directory-empty text-muted px-4">{{#far}}frown{{/far}} {{#str}}empty{{/str}}</h3>
        {{/children}}
    </div>
</div>


{{{fileeditform}}}

<div class="modal" id="modal-upload" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body pt-1 pb-0">
                <div class="mb-2">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{{uploadform}}}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-newdir" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body pt-1 pb-0">
                <div class="mb-2">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{{newdirform}}}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" >{{#str}}deletefile,admin{{/str}}</h5>
                <div id="filename-delete" class="px-1 py-3"></div>
                <p class="text-danger">{{#str}}cannotberestored,admin{{/str}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">{{#fas}}times,lg,fw{{/fas}} {{#str}}cancel{{/str}}</button>
                <button type="button" class="btn btn-sm btn-danger  confirm-delete-btn" data-dismiss="modal">{{#far}}trash-alt,lg,fw{{/far}} {{#str}}delete{{/str}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-rename" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" >{{#str}}renamefile,admin{{/str}}</h5>
                <p class="pt-2 mb-0 pl-2">
                    {{#str}}originalname,admin{{/str}}: <span id="filename-rename" class="pl-2"></span>
                </p>
                <p class="pl-2 mb-0">
                    <label for="filename-rename-input">{{#str}}newname,admin{{/str}}</label> <input type="text" class="form-control w-100" id="filename-rename-input"/>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">{{#fas}}times,lg,fw{{/fas}} {{#str}}cancel{{/str}}</button>
                <button type="button" class="btn btn-sm btn-primary confirm-rename-btn" data-dismiss="modal">{{#fas}}pencil-alt,lg,fw{{/fas}} {{#str}}rename{{/str}}</button>
            </div>
        </div>
    </div>
</div>

<div id="file-browser-context-menu" class="contextmenu">
    <div class="btn-group btn-group-vertical">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-rename">{{#fas}}pencil-alt,fw{{/fas}} {{#str}}rename{{/str}}</button>
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal-delete">{{#far}}trash-alt,fw{{/far}} {{#str}}delete{{/str}}</button>
    </div>
</div>
<div class="contextmenu-backdrop"></div>


{{#js}}
    require(['jquery', 'bootstrap']);
{{/js}}