<a class="file-item btn btn-outline-info type-{{type}} border-round border-0 mb-2 mr-2" {{#blank}}target="_blank"{{/blank}} href="{{{url}}}" data-filename="{{filename}}" data-uniquehash="{{uniquehash}}" data-parenthash="{{parenthash}}">

    {{#previewable}}
        <img class="d-block preview mx-auto" data-previewurl="{{{url}}}" />
    {{/previewable}}
    {{#far}}{{icon}},lg{{/far}}<span class="file-name pl-1">{{filenameshort}}</span>
</a>