
<div class="contextmenu contextmenu-block">
    <div class="btn-group-vertical">
        <button class="btn btn-light text-left edit-wysiwyg-btn" >{{#fas}}edit{{/fas}} {{#str}}editwysiwyg,admin{{/str}}</button>
        <button class="btn btn-light text-left edit-source-btn" >{{#fas}}code{{/fas}} {{#str}}editsource,admin{{/str}}</button>
        <button class="btn btn-light text-left insert-block-btn"  data-toggle="modal" data-target="#site-page-editor-insert-block-modal">{{#fas}}list-alt{{/fas}} {{#str}}insertblock,admin{{/str}}</button>
        <button class="btn btn-outline-danger text-left delete-block-btn" >{{#fas}}times{{/fas}} {{#str}}deleteblock,admin{{/str}}</button>
    </div>
</div>