
<div class="contextmenu contextmenu-col">
    <div class="btn-group-vertical">
        <button class="btn btn-light text-left prepend-row-btn" >{{#fas}}long-arrow-alt-down{{/fas}} {{#str}}prependrow,admin{{/str}}</button>
        <button class="btn btn-light text-left append-row-btn" >{{#fas}}long-arrow-alt-up{{/fas}} {{#str}}appendrow,admin{{/str}}</button>
        <button class="btn btn-light text-left insert-col-before-btn" >{{#fas}}long-arrow-alt-right{{/fas}} {{#str}}insertcolbefore,admin{{/str}}</button>
        <button class="btn btn-light text-left insert-col-after-btn" >{{#fas}}long-arrow-alt-left{{/fas}} {{#str}}insertcolafter,admin{{/str}}</button>
        <button class="btn btn-light text-left edit-source-btn" >{{#fas}}code{{/fas}} {{#str}}editsource,admin{{/str}}</button>

        <button class="btn btn-light text-left insert-block-btn"  data-toggle="modal" data-target="#site-page-editor-insert-block-modal">{{#fas}}list-alt{{/fas}} {{#str}}insertblock,admin{{/str}}</button>
        <button class="btn btn-outline-danger text-left delete-elem-btn" >{{#fas}}times{{/fas}} {{#str}}deletecol,admin{{/str}}</button>
    </div>
</div>