
<div class="contextmenu contextmenu-row">
    <div class="btn-group-vertical">
        <button class="btn btn-light text-left prepend-col-btn" >{{#fas}}long-arrow-alt-right,fw{{/fas}} {{#str}}prependcol,admin{{/str}}</button>
        <button class="btn btn-light text-left append-col-btn" >{{#fas}}long-arrow-alt-left,fw{{/fas}} {{#str}}appendcol,admin{{/str}}</button>
        <button class="btn btn-light text-left insert-row-above-btn" >{{#fas}}long-arrow-alt-down,fw{{/fas}} {{#str}}insertrowabove,admin{{/str}}</button>
        <button class="btn btn-light text-left insert-row-below-btn" >{{#fas}}long-arrow-alt-up,fw{{/fas}} {{#str}}insertrowbelow,admin{{/str}}</button>
        <button class="btn btn-light text-left edit-source-btn" >{{#fas}}code,fw{{/fas}} {{#str}}editsource,admin{{/str}}</button>
        <button class="btn btn-light text-left edit-attributes-btn" >{{#fas}}grip-horizontal,fw{{/fas}} {{#str}}editattributes,admin{{/str}}</button>
        <button class="btn btn-outline-danger text-left delete-elem-btn" >{{#fas}}times,fw{{/fas}} {{#str}}deleterow,admin{{/str}}</button>
    </div>
</div>
