
<div class="contextmenu contextmenu-sp_content">
    <div class="btn-group-vertical">

        <button class="btn btn-light text-left prepend-row-btn" >{{#fas}}long-arrow-alt-down{{/fas}} {{#str}}prependrow,admin{{/str}}</button>
        <button class="btn btn-light text-left append-row-btn" >{{#fas}}long-arrow-alt-up{{/fas}} {{#str}}appendrow,admin{{/str}}</button>
        <button class="btn btn-light text-left edit-source-btn" >{{#fas}}code{{/fas}} {{#str}}editsource,admin{{/str}}</button>
    </div>
</div>