{{#cookieconsentshow}}
    <div id="cookieconsent" class="fixed-bottom text-light  w-100 py-3 d-flex flex-nowrap align-items-center"  >
        <div class="text-center px-3 mx-auto">
            {{{cookieconsentcontent}}}
        </div>
        <div class="ml-auto px-3">
            <a href="#" class="btn btn-light"><strong>{{#str}}cookieconsentok{{/str}}</strong></a>
        </div>
    </div>
    {{#js}}
        require(['js/cookieconsent']);
    {{/js}}
{{/cookieconsentshow}}