<!doctype html>
<html lang="{{lang}}">
<head>
    {{>analytics_top}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{{title}}}</title>
    {{> singularity_ascii}}
{{#css}}
    <link href="{{{.}}}" rel="stylesheet">
{{/css}}
    <link rel="canonical" href="{{canonicalurl}}" />
{{{meta}}}
    <link rel="icon" href="{{{favicon}}}">
{{#metadescription}}
    <meta name="description" content="{{.}}">
{{/metadescription}}
    {{{page.get_js_head}}}
    {{{webmanifest}}}
</head>
<body class="{{#bodyclasses}}{{.}} {{/bodyclasses}}">
{{>cookieconsent}}
    <div id="global-wrapper" class="{{{global_wrapper_classes}}}">
    {{#showheader}}
        {{{page_header}}}
    {{/showheader}}

    {{{main_start}}}


{{#christmas}}
    {{#js}}
        require(['js/christmas'], function(Christmas) {
            var c = new Christmas();
        });
    {{/js}}
{{/christmas}}