<section id="main" class="row {{#shortname}}{{shortname}}{{/shortname}} {{{additional_classes}}}">
<div class="col-12">
{{#has_session_messages}}
    {{#session_messages}}
        {{>common/message}}
    {{/session_messages}}
{{/has_session_messages}}