<div class="bg-secondary text-white text-center pb-3 pt-2">
    <h4>Performance info</h4>
    <table class="mx-auto">
        <tr>
            <th class="px-2">{{#str}}peakmemory,admin{{/str}}:</th><td>{{peakmemory_human}} ({{peakmemory}} bytes)</td>
        </tr>
        <tr>
            <th class="px-2">{{#str}}totalexectime,admin{{/str}}:</th><td>{{totalscripttime}} sec</td>
        </tr>
    </table>
</div>